## Author
Shiksha Pandey

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages used in Data Science
* List commonly used libraries in Data Science
* Create a table of Data Science tools
* Run simple arithmetic operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. scikit-learn
3. Numpy
4. Matplotlib

|Data Science Tools|
|------------------|
|Git|
|Jupyter Notebook|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply and add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335